
#pagelist {
    margin-bottom: 1em;
}

#pagelist li {
    cursor: move;
}

div.bookcreator__bookbar {
    border: 1px solid __border__;
    background-color: __background_alt__;
    background-image: url(images/book.png);

    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 85% !important;
    min-height: 40px;
    text-align: justify;
    vertical-align: middle;
    border-collapse: collapse;
    padding: 5px 5px 5px 90px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}

div.bookcreator__bookbar {
    display: none; /* will be shown by JavaScript */
}

div.bookcreator__panel {
    text-align: justify;
    vertical-align: middle;
    margin-right: 20px;
    float: left;
    display: block;
}
/* specific for dokuwiki template: place the ToC just below toolbar */
.tpl_dokuwiki div.bookcreator__bookbar {
    margin-bottom: 1.6em;
}

/*
 * Book manager
 */
.dokuwiki .bookcreator__manager {

}
.dokuwiki .bookcreator__pagelist {
    width:50%;
    float:left;
    border: 1px solid __border__;
    padding: 0.5em;
}
.dokuwiki .bookcreator__pagelist ul{
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.dokuwiki .bookcreator__pagelist ul.pagelist:empty {
    border: 1px solid #eee;
}
.dokuwiki .bookcreator__pagelist li{
    margin: 0;
}
/* delete and include bottons */
.dokuwiki .bookcreator__pagelist ul li a.action{
    width: 14px;
    height:14px;
    display: inline-block;
    background:transparent url('images/remove.png') center bottom no-repeat;
    cursor: pointer;
}
.dokuwiki .bookcreator__pagelist ul.selected li a.action{
    background-image: url('images/remove.png');
    content: attr(data-titlerem);
}
.dokuwiki .bookcreator__pagelist ul.deleted li a.action{
    background-image: url('images/include.png');
    content: attr(data-titleadd);
}

.dokuwiki .bookcreator__manager div.bookcreator__actions {
    width:40%;
    float:left;
    padding: 1em;
}

.dokuwiki .bookcreator__manager fieldset {
    width: 100%;
    text-align:left;
    margin-bottom: 1em;
}
.dokuwiki .bookcreator__manager fieldset legend,
.dokuwiki #bookcreator__selections__list fieldset legend {
    font-weight: bold;
}

.dokuwiki .book_skipforbiddenpages {
    display: block;
}
/*
 * List of saved selections
 */
#bookcreator__selections__list fieldset {
    text-align:left;
}

/*
 * download dialoog
 */
.downloadresponse {
    margin-top: 1em;
}

/**
 * Page tools
 * show add/remove icon
 */
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook {
    background-position: right -90px;
}
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:before {
    content: url(images/pagetools-pdf-sprite.png);
    margin-top: -90px;
}
#dokuwiki__pagetools:hover ul li a.plugin_bookcreator_addtobook,
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:focus,
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:active {
    background-image: url(images/pagetools-pdf-sprite.png);
}
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:hover,
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:active,
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:focus {
    background-position: right -135px;
}

/* show remove icon */
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove {
    background-position: right -180px;
}
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:before {
    margin-top: -180px;
}
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:hover,
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:active,
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:focus {
    background-position: right -225px;
}
/*Keep icons on left side on hover for rtl languages*/
/*add to book icon*/
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:active,
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook:focus {
    background-position: left -135px;
}
/*remove from book icon*/
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:active,
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove:focus {
    background-position: left -225px;
}
[dir=rtl] #dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook.remove {
    background-position: left -180px;
}
/**
 * page add/remove button
 */
#dokuwiki__pagetools ul li a.plugin_bookcreator_addtobook {
    display: none; /* will be shown by JavaScript */
}
